// begin header
header.header
  .header__container
    .header__inner
      a.header__logo#logo(href="#")
        img(src="img/header/logo.svg", alt="logo-header")
      .header__menu
        a.header__menu-logo(href="!#")
          img(src="img/header/logo.svg", alt="logo-header")
        ul.header__menu-list
          li
            a.scrollto(href="#about") About Us
          li
            a.scrollto(href="#services") Services
          li
            a.scrollto(href="#blog") Our Blog
          li
            a.scrollto(href="#logo-footer") Contact
        .header__hour.header__hour_sm 24 Hour Services
      button.hamburger.hamburger--collapse.js-hamburger(type="button")
        span.hamburger-box
          span.hamburger-inner
      .header__hour 24 Hour Services
        span
// end header